/* ============================================= */
/*                 Keyframes                     */
/* ============================================= */

@keyframes shake {
  30% {
    transform: rotate3d(0, 0, 1, 10deg) scale3d(1.2, 1.2, 1.2);
  }
  70% {
    transform: rotate3d(0, 0, 1, -10deg) scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1.2, 1.2, 1.2);
  }
}
